{% extends "cards_template_extend.html" %}

{% block head %}

<!-- {% block title %}World Map{% endblock %} -->
{{ super() }}

{% endblock %}

{% block cards_title %}About Page{% endblock %}
{% block description %}This page describes the main contributors of Neven World.  They have all
  played their important role, even if they haven't actually picked up the controller (Tiffany - will take up
  an internship in 2020).
      {% endblock %}
{% block main_title %}Main Contributors{% endblock %}
{% block card1_image %}
<img class="card-img-top" src="/static/pictures/neven.jpg" alt="Card image" style="width:220px; height:240px">
{% endblock %}
{% block card1_title %}Neven{% endblock %}
{% block card1_text %}The current <b>King</b> and chief architect of Neven World.  Neven has been responsible<br>
for the majority of the building and designing of the main base.  The game runs on<br>
Neven's PS4 and can be accessed by invite-only.  Executive decisions regarding the main<br>
base must be approved by Neven.{% endblock %}


{% block card2_image %}
<img class="card-img-top" src="/static/pictures/justin.jpg" alt="Card image" style="width:100%; height:240px">
{% endblock %}
{% block card2_title %}Justin{% endblock %}
{% block card2_text %}The current <b>Queen</b> of Neven World and primary assistant to Neven.  Justin was the<br>
                one who got Neven into playing Minecraft as he had played previously.  Neven has since <br>
                far surpassed Justin in terms of skill and superiority.  Despite his inferiority, Justin <br>
                has been pivotal in the development of the main base and has helped to further exploration <br>
                activities.{% endblock %}
{% block card3_image %}
<img class="card-img-top" src="/static/pictures/tiffany.jpg" alt="Card image" style="width:100%; height:240px">
{% endblock %}
{% block card3_title %}Tiffany{% endblock %}
{% block card3_text %}While Tiffany has yet to pick up the controller and join Neven World, she has<br>
nonetheless been pivotal in its developent, as she is primarily responsible for feeding<br>
and taking care of Neven while he plays.  Tiffany is expected to take up an internship<br>
at Neven World starting in 2020.{% endblock %}