{% extends "table_template_extends.html" %}

{% block head %}

<!-- {% block title %}World Map{% endblock %} -->
{{ super() }}

{% endblock %}

{% block content %}
{% block table_title %}<h1>Contraptions</h1>{% endblock %}
{% block table_description %}<p> Below is a list of all the contraptions that have been built by Neven.  Justin is
  not capable of building contraptions as he is not nearly as creative as Neven.
</p>{% endblock %}
{% block table %}
<div class="container">
    <table class="table table-dark table-striped">
      {% block table_head %}
      <thead>
        <tr>
          <th>Contraption Name</th>
          <th>Redstone?</th>
          <th>Mechanical?</th>
          <th>Danger?</th>
          <th>Complexity</th>
        </tr>
      </thead>
      {% endblock %}
      <tbody>
          {% for table_value in table_list %}
          <tr>
              <td>{{table_value[0]}}</td>
              <td>{{table_value[1]}}</td>
              <td>{{table_value[2]}}</td>
              <td>{{table_value[3]}}</td>
              <td>{{table_value[4]}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% for slide in slide_list %}
<div class="media">
    <img src="{{slide[0]}}" class="align-self-start mr-3" style="width:60px">
    <div class="media-body">
      <h4>{{slide[1]}}</h4>
      <p>{{slide[2]}}</p>
    </div>
  </div>
{% endfor %}
{% endblock %}
