{% extends "base_template.html" %}

{% block head %}

{% block title %}Correct Contact Information{% endblock %}
{{ super() }}

{% endblock %}

{% block content %}
<h1>Congratulations!</h1>
<hr>
<img src="/static/pictures/worthy.png" 
alt="Worthy" class="img-square" width="400" height="200" align="middle">
<p>You have been deemed worthy enough to contact Neven!!! <br><br>
Feel free to contact Neven by phone or by email.<br>
<br>
Phone: 438-346-7717<br>
Email: babagugliana@gmail.com <br><br>

Looking forward to hearing from you!<br></p>

{% endblock %}
