{% extends "base_template.html" %}

{% block head %}

{% block title %}Index Page{% endblock %}
{{ super() }}

{% endblock %}

{% block content %}
<div class="col-sm-8 text-left"> 
    <br><Br>
    <img src="https://media.mojang.com/blog-image/2c34ca1217c7d95e76a6f8d646adf9208f78145a/blogmcnet.png" 
    alt="Minecraft Picture From Mojang" class="img-circle" width="400" height="200" align="middle">
  <h1>Introduction</h1>
  <hr>
  <p>Welcome to Neven's Minecraft website!<br><br>

      As you may have guessed, my name is Neven!  I have been playing Minecraft 
      for a couple of months now.  For those unfamiliar with <a href="https://en.wikipedia.org/wiki/Minecraft">Minecraft</a>,
      it is a famous sandbox video game created by game developer <a href="https://en.wikipedia.org/wiki/Markus_Persson">Markus Persson</a>,
      released in 2011.  The game has gone on to become the single <a href="https://www.windowscentral.com/minecraft-becomes-best-selling-game-all-time-its-10th-birthday">best-selling</a> 
      video game of all time.  It features many different game modes, most of
      which involve creative construction elements.  It is a game where players
      can express their own creativity and choose to forge their own paths in
      the large open world!

      <br><br>
  
      I only recently began playing PS4 Minecraft's <a href="https://en.wikipedia.org/wiki/Minecraft#Survival_mode">survival mode</a>.  In survival,
      the player must gather resources and survive inside of a hostile environment
      which features many dangers and perils; the risk of death is always present,
      ranging from death by dangerous monsters to starvation or falling in lava.  
      While playing in survival mode may be quite challenging, it is quite 
      rewarding at the same time!
  
      <br><br>
      The purpose of this website is to showcase my PS4 Minecraft world,
      colloquially know as <i>Neven World</i>.  I have invested many hours and
      sleepless nights improving upon Neven World, and building my mega-base.
      This website will be the perfect venue to document the ins and outs of my
      base, while also providing the opportunity for others to apply and be a part
      of the Neven World experience!  Neven World was not built by Neven alone,
      and this website will serve to acknowledge all contributers!</p>
  <hr>
  <h3>Website Structure</h3>
  <p><ol>
      <li><a href="/mainbase"><b>Base Description</b></a> - The section of the website dedicated to describing the main base.</li>
      <li><a href="/world_map"><b>World Description</b></a> - The section of the website dedicated to describing points of interest in Neven World.</li>
      <li><a href="/contraptions"><b>Contraptions</b></a> - This section will describe the many complex <a href="https://minecraft.gamepedia.com/Redstone_(disambiguation)">redstone</a> contraptions and farming techniques.</li>
      <li><a href="/upcoming"><b>Upcoming Projects</b></a> - This section will describe future projects in Neven World.</li>
      <li><a href="/about"><b>About Page</b></a> - This page will describe the main contributors of Neven World (including interns).</li>
      <li><a href="/opportunities"><b>Opportunities</b></a> - This section will list opportunities/openings available in Neven World.</li>
    </ol></p>
</div>
{% endblock %}